In [9]:
lista = ['Miguel', 'Lucas', 'Leandro']
print(lista)
lista.sort()
print(lista)

['Miguel', 'Lucas', 'Leandro']
['Leandro', 'Lucas', 'Miguel']

In [11]:
c = 0
for item in lista:
    c += 1
    print('{} - {}'.format(c,item))

1 - Leandro
2 - Lucas
3 - Miguel

In [19]:
for ind,nome in enumerate(lista):
    print('{} - {}'.format(ind+1, nome))

1 - Leandro
2 - Lucas
3 - Miguel

In [24]:
lista.sort(reverse=True)
print(lista)

['Miguel', 'Lucas', 'Leandro']

In [28]:
for ind,nome in enumerate(lista):
    print('{} - {}'.format(len(lista)-ind, nome))

3 - Miguel
2 - Lucas
1 - Leandro

Conteúdo: Break / Continue / Pass

In [40]:
producao = [100,150,1500,2000,120,105]

In [41]:
meta = 110

for qtd in producao:
    if (qtd < meta):
        print('A indústria não ganha bônus esse semestre!')
        break

A indústria não ganha bônus esse semestre!

In [50]:
meta = 130

for mes,qtd in enumerate(producao):
    if (qtd < meta):
        continue
    print('{} - {}'.format(mes+1,qtd))

2 - 150
3 - 1500
4 - 2000

In [55]:
meta = 130

for mes,qtd in enumerate(producao):
    if (qtd < meta):
        continue
    else:
        print('{} - {}'.format(mes+1,qtd))
    print('passei no final do for')

2 - 150
passei no final do for
3 - 1500
passei no final do for
4 - 2000
passei no final do for

In [56]:
meta = 130

for mes,qtd in enumerate(producao):
    if (qtd < meta):
        pass
    else:
        print('{} - {}'.format(mes+1,qtd))
    print('passei no final do for')

passei no final do for
2 - 150
passei no final do for
3 - 1500
passei no final do for
4 - 2000
passei no final do for
passei no final do for
passei no final do for

In [61]:
meta = 130

for mes,qtd in enumerate(producao):
    if (qtd < meta):
        print('No mês {} não ganhou bônus!'.format(mes+1))
    else:
        print('No mês {} ganhou bônus!'.format(mes+1))
    print('passei no final do for')

No mês 1 não ganhou bônus!
passei no final do for
No mês 2 ganhou bônus!
passei no final do for
No mês 3 ganhou bônus!
passei no final do for
No mês 4 ganhou bônus!
passei no final do for
No mês 5 não ganhou bônus!
passei no final do for
No mês 6 não ganhou bônus!
passei no final do for

Lista vs Tupla

Lista ela é mutável ou similar a variável
Tupla ela não é mutável ou similar a constante

In [68]:
dados = ['Leandro','31/03/1985','Masculino']
print(dados)
dados[0] = 'Leandro Vasconcelos dos Reis'
print(dados)

nome,dt_nasc,sexo = dados

print(nome)
print(dt_nasc)
print(sexo)

['Leandro', '31/03/1985', 'Masculino']
['Leandro Vasconcelos dos Reis', '31/03/1985', 'Masculino']
Leandro Vasconcelos dos Reis
31/03/1985
Masculino

In [76]:
dados = ('Leandro','31/03/1985','Masculino')
print(dados)
print()

nome,dt_nasc,sexo = dados

print(nome)
print(dt_nasc)
print(sexo)
print()
print('Nome: {:>12}\nNasc: {:>12}\nSexo: {:>12}'.format(nome, dt_nasc,sexo))

('Leandro', '31/03/1985', 'Masculino')

Leandro
31/03/1985
Masculino

Nome:      Leandro
Nasc:   31/03/1985
Sexo:    Masculino

Arquivos - Leitura e Escrita de .txt

In [2]:
arquivo = open('lucros.txt')
print(arquivo.read())
arquivo.close()

Bala = R$ 10,00
Pirulito = R$ 15,00

In [4]:
arquivo = open('lucros.txt')
leitura = arquivo.read()
arquivo.close()
print(leitura)

Bala = R$ 10,00
Pirulito = R$ 15,00

In [18]:
arquivo = open('lucros.txt')
linha1 = arquivo.readline()
linha2 = arquivo.readline()
arquivo.close()
linha1 = linha1.strip()
linha2 = linha2.strip()
print(linha1)
print(linha2)

Bala = R$ 10,00
Pirulito = R$ 15,00

In [30]:
listanova = []
arquivo = open('lucros.txt')
listaLinhas = arquivo.readlines()
arquivo.close()

print(listaLinhas)
for item in listaLinhas:
    listanova.append(item.strip())
print()
print('\n'.join(listanova))

['Bala = R$ 10,00\n', 'Pirulito = R$ 15,00']

Bala = R$ 10,00
Pirulito = R$ 15,00

In [31]:
nomearq = input('Entre com o nome do arquivo: ')
arquivo = open(nomearq)
arq = arquivo.read()
arquivo.close()
print(arq)

Entre com o nome do arquivo: lucros.txt
Bala = R$ 10,00
Pirulito = R$ 15,00

In [35]:
arquivo = open('Despesas.txt','w')
arquivo.write('Café = R$ 18,00')
arquivo.close()
arquivo = open('Despesas.txt','w')
arquivo.write('\nChocolate = R$ 10,00')
arquivo.close()

In [38]:
arquivo = open('Despesas2.txt','w')
arquivo.write('Café = R$ 18,00\n')
arquivo.close()
arquivo = open('Despesas2.txt','a')
arquivo.write('Chocolate = R$ 10,00')
arquivo.close()

In [39]:
extra = 'Bolo = R$ 8,00\n'
arquivo = open('Despesas3.txt','w')
arquivo.write('Café = R$ 18,00\n')
arquivo.write('Chocolate = R$ 10,00\n')
arquivo.write(extra)
arquivo.close()